#butt {
    background-color: blue;
    color: white;
    height: 35px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 6px;
    margin: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;

}

a {
    text-decoration: none;
    font-size: 15px;
    margin-left: 15px;
}

.form {
    height: 35px;
    width: 300px;

    outline: none;
    border-radius: 6px;
    margin: 11px;
}

#cb {
    outline: none;
    border-radius: 6px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;

}

.para {
    color: black;
    margin-left: 15px;
    margin-top: 2px;
    font-size: 15px;
}

h2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 15px;
}

h5 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 20px;
}

label {
    margin: 15px;
}

form {

    border-radius: 8px;

    height: 500px;
    width: 400px;
    transform: translate(600px, 20%);
}

.line {

    height: 20px;
    width: 150px;
    color: black;
    display: inline;


}

#l {
    text-align: center;

    margin-left: 150px;
    font-weight: bold;

}