section {
   
    height: 90vh;
    width: 100vw;


}
.h1{
    text-align: center;
    margin-top: 100px;
    color: blueviolet;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;


}
.h1:hover{
    color: orange;
    font-size: 70px;
}

