.h1{
  margin-top: 200px;
  color: blueviolet;
  margin-left: 560px;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  cursor: pointer;
}

.h1:hover{
  color: orange;
  font-size: 40px;
}