
/* 
.App{
    background-image: url("https://t3.ftcdn.net/jpg/02/64/92/28/360_F_264922838_NErJEovZiP9MTa49apqL1Vs3f88ZT8Dg.jpg");
    height:'500%';
    width:'1460px';
    background-repeat: no-repeat;
    
} */