.App {

}



.App-header {
  background-color: white;
  min-height: 100vh;
 
  color: black;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

button{
  font-weight: bold;
  margin: 8px;
  font-size: 15px;

}

input{
  box-sizing: border-box;
}